<header class="wrapper">
	<article>
		<h1>
			<a href="/">
				<!-- <svg class="logo" width="32" height="32" viewBox="0 0 256 256" fill="none" xmlns="../../public">
					<style>
						#flame {
							fill: #ff5d01;
						}
						#a {
							fill: #000014;
						}
					</style>
					<title>Logo</title>
					<path
						id="a"
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M163.008 18.929c1.944 2.413 2.935 5.67 4.917 12.181l43.309 142.27a180.277 180.277 0 00-51.778-17.53l-28.198-95.29a3.67 3.67 0 00-7.042.01l-27.857 95.232a180.225 180.225 0 00-52.01 17.557l43.52-142.281c1.99-6.502 2.983-9.752 4.927-12.16a15.999 15.999 0 016.484-4.798c2.872-1.154 6.271-1.154 13.07-1.154h31.085c6.807 0 10.211 0 13.086 1.157a16.004 16.004 0 016.487 4.806z"
					></path>
					<path
						id="flame"
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M168.19 180.151c-7.139 6.105-21.39 10.268-37.804 10.268-20.147 0-37.033-6.272-41.513-14.707-1.602 4.835-1.961 10.367-1.961 13.902 0 0-1.056 17.355 11.015 29.426 0-6.268 5.081-11.349 11.349-11.349 10.743 0 10.731 9.373 10.721 16.977v.679c0 11.542 7.054 21.436 17.086 25.606a23.27 23.27 0 01-2.339-10.2c0-11.008 6.463-15.107 13.974-19.87 5.976-3.79 12.616-8.001 17.192-16.449a31.024 31.024 0 003.743-14.82c0-3.299-.513-6.479-1.463-9.463z"
					></path>
				</svg> -->
				<svg width="100%" height="100%" viewBox="0 0 600 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
					<g transform="matrix(1,0,0,1,-212,5.68434e-14)">
						<g transform="matrix(2.54975,0,0,2.54975,-792.452,-464.924)">
							<g transform="matrix(0.742835,0,0,0.742835,131.269,77.1496)">
								<path fill="000000" d="M670.392,220.804C670.392,177.095 634.905,141.608 591.196,141.608L432.804,141.608C389.095,141.608 353.608,177.095 353.608,220.804L353.608,379.196C353.608,422.905 389.095,458.392 432.804,458.392L591.196,458.392C634.905,458.392 670.392,422.905 670.392,379.196L670.392,220.804ZM522.096,259.42L522.957,259.42C526.278,251.365 531.134,245.407 537.526,241.544C543.917,237.682 551.596,235.751 560.561,235.751C568.53,235.751 575.751,237.328 582.226,240.482C588.701,243.637 594.221,248.119 598.787,253.93C603.352,259.74 606.838,266.796 609.246,275.097C611.653,283.398 612.857,292.695 612.857,302.988C612.857,313.282 611.653,322.579 609.246,330.88C606.838,339.18 603.352,346.236 598.787,352.047C594.221,357.858 588.701,362.34 582.226,365.495C575.751,368.649 568.53,370.226 560.561,370.226C543.129,370.226 530.594,362.336 522.957,346.557L521.961,346.557L521.961,417.043L501.904,417.043L501.904,346.557L501.043,346.557C493.24,362.336 480.705,370.226 463.439,370.226C455.47,370.226 448.249,368.649 441.774,365.495C435.299,362.34 429.779,357.858 425.213,352.047C420.648,346.236 417.162,339.18 414.754,330.88C412.347,322.579 411.143,313.282 411.143,302.988C411.143,292.695 412.347,283.398 414.754,275.097C417.162,266.796 420.648,259.74 425.213,253.93C429.779,248.119 435.299,243.637 441.774,240.482C448.249,237.328 455.47,235.751 463.439,235.751C472.404,235.751 480.083,237.682 486.474,241.544C492.866,245.407 497.722,251.365 501.043,259.42L502.039,259.42L502.039,182.957L522.096,182.957L522.096,259.42ZM522.096,275.853C522.402,273.218 523.229,270.708 524.576,268.323C526.319,265.236 528.685,262.608 531.673,260.439C534.662,258.271 538.19,256.561 542.257,255.309C546.325,254.057 550.6,253.432 555.082,253.432C566.371,253.432 575.253,256.977 581.728,264.068C588.203,271.159 591.44,280.462 591.44,291.977L591.44,314C591.44,325.515 588.203,334.818 581.728,341.909C575.253,349 566.371,352.545 555.082,352.545C550.6,352.545 546.325,351.961 542.257,350.792C538.19,349.623 534.662,347.913 531.673,345.662C528.685,343.41 526.319,340.657 524.576,337.403C523.005,334.47 522.142,331.164 521.987,327.486C522.686,322.4 525.662,318.094 530.915,314.568C536.975,310.501 545.401,308.467 556.192,308.467L567.896,308.467L567.896,288.545L560.176,288.545C549.717,288.545 541.499,290.952 535.522,295.767C529.546,300.581 525.395,306.06 523.071,312.202L521.961,312.202L521.961,311.455L522.096,311.455L522.096,275.853ZM501.904,329.038C501.598,332.1 500.771,334.888 499.424,337.403C497.681,340.657 495.315,343.41 492.327,345.662C489.338,347.913 485.81,349.623 481.743,350.792C477.675,351.961 473.4,352.545 468.918,352.545C457.629,352.545 448.747,349 442.272,341.909C435.797,334.818 432.56,325.515 432.56,314L432.56,291.977C432.56,280.462 435.797,271.159 442.272,264.068C448.747,256.977 457.629,253.432 468.918,253.432C473.4,253.432 477.675,254.057 481.743,255.309C485.81,256.561 489.338,258.271 492.327,260.439C495.315,262.608 497.681,265.236 499.424,268.323C500.506,270.239 501.252,272.236 501.663,274.313C500.566,278.623 497.707,282.329 493.085,285.432C487.025,289.499 478.599,291.533 467.808,291.533L456.104,291.533L456.104,311.455L463.824,311.455C474.283,311.455 482.501,309.048 488.478,304.233C494.454,299.419 498.605,293.94 500.929,287.798L502.039,287.798L502.039,288.545L501.904,288.545L501.904,329.038Z"/>
							</g>
						</g>
					</g>
				</svg>
				<span>davydpr</span>
			</a>
		</h1>
	</article>
</header>

<style>
	header {
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 5rem;
	}
	article {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header-subitem {
		display: flex;
		flex-grow: 0;
		gap: 0.5em;
		align-items: center;
		justify-content: center;
		color: var(--theme-text-lighter);
		font-size: initial;
		padding: 0.5rem;
	}
	.header-subitem:hover {
		color: var(--theme-accent);
	}
	.header-subitem svg {
		width: 1.5rem;
		height: 1.5rem;
	}

	@media (max-width: 32em) {
		.header-subitem {
			display: none;
		}
	}

	h1 {
		margin: 0;
		font-size: 1.5rem;
		max-width: 100%;
		display: flex;
		flex-grow: 1;
	}

	.logo {
		transform: translateY(0.25rem);
	}

	svg {
		width: 2.5rem;
		height: 2.5rem;
	}

	h1 a {
		text-decoration: none;
		display: inline-flex;
	}
</style>
